.codemirror {
    font-size: 16px;
}

.codeinputCard {
    border-left: 0.25rem solid rgb(12, 125, 157);
}

.article {
    font-family: -apple-system, BlinkMacSystemFont, Noto Sans CJK SC, Arial, Helvetica Neue !important;
}
